<style>
.h2 {
	color:#dd7319;
}
.strong {
	background-color: #FFFF66;
}
.bb{
	background-color: #FFE6FF;
}
#rr{
	font-size: 20px; font-weight:bold; color:#CC00CC; align:justify;
}
.b{
	font-size:20px; color: #CC00CC;
}
#size{
	margin: 30px,15px,30px,15px;
}
#jj{
	font-size: 45px; color: #CC00CC;
}
</style>